@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-color: #EDEAE7;
    color: #142917;
  }


* {
  touch-action: manipulation;
    scroll-behavior: smooth;
    @apply font-OpunMai
    /* font-family: 'OpunMai', sans-serif; */
  }

.title_label {
  @apply text-[12pt]
}

.input_base {
  @apply block py-[0.625rem] px-[1rem] h-[44px] w-full text-[#142917] bg-gray-50 rounded-full outline-none focus:ring-[#EEDAB9] mt-2   text-[12pt]  placeholder:text-[#EEDAB9]
}

.input_base {
  box-shadow: rgba(19, 41, 104 , 0.1) 0px 4px 8px ;
}

.input_base_textarea {
  @apply block py-[0.625rem] px-[1rem] w-full text-[#142917] bg-gray-50 rounded-md border-none  outline-none focus:ring-[#EEDAB9] mt-2  text-[12pt]  placeholder:text-[#EEDAB9]
}

.label_base {
  @apply ml-2 text-[12pt] font-medium text-[#142917]
}

.label_error {
  @apply text-red-500 text-sm mt-[4px] ml-2
}

.button_optional {
  @apply text-[#C68B67] border border-[#C68B67] mt-2  text-[12pt] block py-2 px-4 w-full outline-none bg-white rounded-full
}

.button_base {
  @apply text-white w-full bg-gradient-to-b from-[#EEDAB9] via-[#C68B67] to-[#875D51] hover:bg-gradient-to-bl  focus:outline-none    rounded-full text-[12pt] px-5 py-2.5 text-center 
}

button {
    @apply cursor-pointer
}
  

.border-card {
  @apply rounded bg-white p-5 mb-3 w-1/3 text-center
}

.lds-dual-ring {
  display: inline-block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #C68B67 transparent #C68B67 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.shadow-main {
  box-shadow: rgba(19, 41, 104 , 0.1) 0px 4px 8px ;
}

:disabled {
  @apply cursor-not-allowed bg-gray-200 border-gray-300 text-gray-900
}

.footer-layout {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 10px 10px 10px;
}


select,option {
  -webkit-padding: 0.5rem 1rem;
  height: 44px;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  margin-top: 0.5rem;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  border-right: 16px solid transparent;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  display: block;
  width: 100%;
  border-radius: 9999px;
  background-color: rgb(249 250 251/1);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12pt;
  color: #142917;
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: rgba(19, 41, 104 , 0.1) 0px 4px 8px ;
}

input {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

/* input {
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  border-radius: 9999px;
  background-color: rgb(249 250 251/1);
  color: #142917;
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: rgba(19, 41, 104 , 0.1) 0px 4px 8px ;
} */

/* select {
  @apply block py-2 px-4 w-full text-[#142917] bg-gray-50 rounded-full outline-none focus:ring-[#EEDAB9] mt-2  text-[12pt]  placeholder:text-[#EEDAB9]
} */